<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="pgsql" force="true"/>
        <env name="DB_HOST" value="postgres" force="true"/>
        <env name="DB_PORT" value="5432" force="true"/>
        <env name="DB_ROOT_DATABASE" value="postgres" force="true"/>
        <env name="DB_DATABASE" value="tribes_testing" force="true"/>
        <env name="DB_USERNAME" value="spodial" force="true"/>
        <env name="DB_PASSWORD" value="q123456789" force="true"/>
        <env name="FILESYSTEM_DISK" value="local" force="true"/>
        <env name="AWS_ACCESS_KEY_ID" value="test" force="true"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="test" force="true"/>
        <env name="AWS_DEFAULT_REGION" value="us-east-1" force="true"/>
        <env name="AWS_BUCKET" value="test-bucket" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <!-- Override $_SERVER superglobal (read first by Dotenv's ServerConstAdapter) -->
        <server name="APP_ENV" value="testing"/>
        <server name="DB_CONNECTION" value="pgsql"/>
        <server name="DB_HOST" value="postgres"/>
        <server name="DB_PORT" value="5432"/>
        <server name="DB_DATABASE" value="tribes_testing"/>
        <server name="DB_USERNAME" value="spodial"/>
        <server name="DB_PASSWORD" value="q123456789"/>
    </php>
</phpunit>
